<% facade.members.each do |member| %>
<ul class="member">
  <li class="name"><%= member.name%></li>
  <% if member.role %>
    <li class="role"><%= member.role %></li>
  <% end %>
  <li class="house"><%= member.house %></li>
  <% if member.patrounus %>
    <li class="patrounus"><%= member.patrounus %></li>
  <% end %>
</ul>
<% end %>
